<!-- 

     === HOME PAGE ===

     This is the first page the user enters when they open the app (the splash screen is not considered a page, right?). It shows breaking news (if any), headlines, featured news, and the photo of the day. A fixed number of articles appear on here every day.

     Ion header contains a menu button on the left for toggling the side menu, and a search icon on the right for searching articles according to a keyword.   

     Suggestion: add a "pull to refresh" function

 -->

<ion-header>

  <ion-navbar color="light" text-center>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>

    <img src="assets/imgs/saipan-logo.png" style="width: 80%;">

    <ion-buttons start>
      <button ion-button icon-only (click)="goSearch()" right>
        <ion-icon name="search"></ion-icon> 
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- It's usually helpful to give the ion content a class name if you want to customize it further. This practice saves you from a lot of headaches in the future.  -->
<ion-content class="thebody">

  <!-- I used a list with ion item groups to show different categories of articles. Angular Ifs were used to make sure the sections don't appear in case it fails to load data. -->

  <ion-list>

    <ion-item-group *ngIf="breaking.length!==0">
      <ion-item-divider color="danger">Breaking News</ion-item-divider>
      <button ion-item *ngFor="let entry of breaking" (click)="openEntry(entry)">
          <ion-thumbnail *ngIf="entry.featured_image!==null" item-end>
            <img src="{{entry.featured_image.source}}">
          </ion-thumbnail>
          <h1 style="white-space: normal">
            {{ entry.title | htmldecoder }}
          </h1>
          <div [innerHTML]="entry.excerpt"></div>
          <p><i>Published in {{entry.terms.category[0].name | htmldecoder }} by <b>{{entry.author.name}}</b><br>
          on {{ entry.date | date: 'fullDate' }}</i></p>
        </button>
    </ion-item-group>

    <ion-item-group *ngIf="headlines.length!==0">
      <ion-item-divider color="primary">Headlines</ion-item-divider>
      <button ion-item *ngFor="let entry of headlines" (click)="openEntry(entry)">
          <ion-thumbnail *ngIf="entry.featured_image!==null" item-end>
            <img src="{{entry.featured_image.source}}">
          </ion-thumbnail>
          <h1 style="white-space: normal">
            {{ entry.title | htmldecoder }}
          </h1>
          <div [innerHTML]="entry.excerpt"></div>
          <p><i>Published in {{entry.terms.category[0].name | htmldecoder }} by <b>{{entry.author.name}}</b><br>
          on {{ entry.date | date: 'fullDate' }}</i></p>
        </button>
    </ion-item-group>

    <ion-item-group *ngIf="featuredImage">
        <ion-item-divider color="secondary">Photo of the Day</ion-item-divider>
        
        <ion-card>
          <img src="{{featuredImage.source}}">
          <ion-card-content>
            <div [innerHTML]="featuredImage.excerpt"></div>
          </ion-card-content>
        </ion-card>

      </ion-item-group>

      <ion-item-group>
          <ion-item-divider color="primary">Featured</ion-item-divider>
          <button ion-item *ngFor="let entry of featured" (click)="openEntry(entry)">
            <ion-thumbnail *ngIf="entry.featured_image!==null" item-end>
              <img src="{{entry.featured_image.source}}">
            </ion-thumbnail>
            <h1 style="white-space: normal">
              {{ entry.title | htmldecoder }}
            </h1>
            <div [innerHTML]="entry.excerpt"></div>
            <p><i>Published in {{entry.terms.category[0].name | htmldecoder }} by <b>{{entry.author.name}}</b><br>
            on {{ entry.date | date: 'fullDate' }}</i></p>
          </button>
        </ion-item-group>

  </ion-list>

</ion-content>