<ion-header>

  <ion-navbar color="primary">
    <!-- <ion-buttons end> -->
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon> 
      </button>
    <!-- </ion-buttons> -->
    <!-- <ion-title class="headline">Saipan Tribune</ion-title> -->
    <ion-buttons start>
      <button ion-button icon-only (click)="goSearch()" right>
        <ion-icon name="search"></ion-icon> 
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="thebody">
  <ion-list>
    <ion-list-header class="top-border" text-center>
      <img src="assets/imgs/saipan-logo.png" style="width: 80%">
    </ion-list-header>
    <ion-list-header class="bottom-border">
      Latest News
    </ion-list-header>
    <ion-card *ngFor="let entry of news; let i = index" [attr.data-index]="i" (click)="openEntry(entry)">
      <div *ngIf="entry.featured_image!==null" class="entryImage" text-center [style.background-image]="'url(' + entry.featured_image.source + ')'">
      </div>
      <!-- <img *ngIf="entry.featured_image==null" src="assets/imgs/banner-img.png"> -->
      <ion-card-header style="white-space: normal">
        <b>{{entry.title | htmldecoder}}</b>
      </ion-card-header> 
      <ion-card-content>
        <!-- <b>Author: </b> {{entry.author.name}}<br>
        <b>Published: </b> {{entry.date | date:'fullDate' }} -->
        <!-- <p class="excerpt" [innerHTML]="entry.excerpt"></p> -->
      </ion-card-content>     
      <ion-row>
        <ion-col>
          <p>Published in {{entry.terms.category[0].name}} by <b>{{entry.author.name}}</b><br>
          on {{entry.date | date: 'fullDate'}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
  <!-- end of article -->
  <!-- infinite scroll for more articles to load: -->
  <!-- <ion-infinite-scroll (ionInfinite)="toInfinityAndBeyond($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Loading articles..."></ion-infinite-scroll-content> -->
    <!-- crescent loading looks nice too! -->
  <!-- </ion-infinite-scroll> -->

</ion-content>