page-rsspage {
    .thebody{
        background: #fff;
        font-family: serif;
    }
    
    .excerpt{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .article-img{
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
    }

    p.block{
        width: 50%;
    }

    ion-card-content, ion-card-header{
        background: #f0f0f0;
    }

    ion-title{
        font-size: 40px !important;
    }

    ion-list-header{
        margin-bottom: 0px;
        padding: 0px;
        background: rgb(255, 208, 0) !important;
        color: rgb(247, 247, 247) !important;
        font-weight: bold !important;
    }

    .headline{
        font-family: serif;
        font-weight: bold !important;
    }
}