page-category {
    .excerpt{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p.block{
        width: 100%;
    }
    
    .scroll-content {
        padding-top:0px;
    }

    .main-content{
        background-color: #cfcfcf;
        box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
    }

    .thebody{
        background: #fff;
        font-family: 'Mukta Mahee',sans-serif;
    }
    
    .excerpt{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .entryImage{
        width: 100%;
        background-position: top center;
        background-size: cover;
        height: 200px;
    }

    ion-card{
        background-color: #fff;
        margin: 0;
        margin-bottom: 25px;
    }

    ion-card:last-of-type{
        margin-bottom: 0 !important;
    }

    ion-item{
        background-color: #fff;
    }

    p.block{
        width: 50%;
        background-color: #fff !important;
    }

    ion-card img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ion-card-content, ion-card-header{
        background-color: #f0f0f0 !important;
    }

    ion-title{
        font-size: 40px !important;
    }

    .top-border{
        margin-bottom: 0px;
        padding: 0px;
        background: #f4f4f4 !important;
        color: rgb(247, 247, 247) !important;
        font-weight: bold !important;
    }

    .bottom-border{
        margin-bottom: 0px;
        padding-left: 15px;
        background: rgb(255, 208, 0) !important;
        color: rgb(247, 247, 247) !important;
        font-weight: bold !important;
    }

    .headline{
        font-family: serif;
        font-weight: bold !important;
    }
}
