page-entry {
    .article-content{
        width: 100%;
        background: white;
        position: absolute;
        font-size: 16px;
        padding: 0px 18px 8px 20px;
        line-height: 160%;
        color: #4b4b4b;
    }

    .article-img{
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
    }

    .thebody{
        font-family: serif;
        padding-top: 2px;
    }

    h1{
        font-weight: bolder;
        color: rgb(36, 36, 36);
    }

    .title{
        padding: 0px;
        margin: 0px 18px 8px 20px;
    }
}  
