page-entry {
    shrinking-head{
        display: flex;
        padding:0px;
        background-color: #860038;
        margin-top:0px;
    }

    .back{
        padding: 5px;
    }

    .article-content{
        width: 100%;
        background: white;
        position: absolute;
        font-size: 16px;
        padding: 0px 18px 8px 20px;
        line-height: 160%;
        color: #4b4b4b;
    }

    .article-img{
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 300px;
        margin-bottom:10px;
    }

    .thebody{
        font-family: 'Ubuntu', serif;
        padding-top: 0px;
    }

    h1{
        font-weight: bolder;
        color: rgb(36, 36, 36);
    }

    .title{
        padding: 0px;
        margin: 0px 18px 8px 20px;
    }

    .title p{
        color: #4b4b4b;
    }
}  
